html,body{
    margin: 0;
}

.bgr-atlantic {
    background-image: url(../img_Pacific_Ocean/photo-1568536505779-1cf1ecbfd4ee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-placeholder {
    height: 80px;
    background: linear-gradient(224deg, #008dba 31.69%, #00b5e1 73.96%);
}

.title-Pasific{
    margin-top: 80px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 50px;
    font-family: 'Marck Script', cursive;

   }
  
h5{
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    text-align: center;

}

  .info-Pasific{
    margin: 0 auto;
    width: 700px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 200px;
  }

  .Pasific-content{
      display: flex;
      justify-content: space-between;
      
  } 

  .Pasific-content-a{
      width: 500px;
      height: 400px;
      background: linear-gradient(224deg, #0093b8 31.69%, #4f7393 73.96%);
      padding: 0 20px;
      margin-left: 20px;
      border-radius: 15px;
    }

    .Pasific-content-a p{
        text-align: center;
        font-size: 16px;
    }

    .Pasific-content-a a{
        color: #d9f303;
    }

    /*slider*/

    .main-slider {
        width: 530px;
        height: 500px;
    }
    
    .main-slider img {
        width: 100%;
    }
    