html,body{
    margin: 0;
}

.bgr-atlantic {
    background-image: url(../img_Pacific_Ocean/photo-1568536505779-1cf1ecbfd4ee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-placeholder {
    height: 5.714rem; /*80px*/
    background: linear-gradient(224deg, #008dba 31.69%, #00b5e1 73.96%);
}

.title-Pasific{
    margin-top: 5.714rem; /*80px*/
    margin-bottom: 5rem;/*70px*/
    text-align: center;
    font-size: 3.571rem;/*50*/
    font-family: 'Marck Script', cursive;

   }
  
h5{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;/*28px*/
    text-align: center;

}

  .info-Pasific{
    margin: 0 auto;
    width:  50rem;/*700px*/
    text-align: justify;
    font-size: 1.428rem;/*20px*/
    margin-bottom: 14.285rem;/*200px*/
  }

  .Pasific-content{
      display: flex;
      justify-content: space-between;
      
  } 

  .Pasific-content-a{
      width: 35.714rem;/*500px*/
      height: 28.571rem;/*400px*/
      background: linear-gradient(224deg, #0093b8 31.69%, #4f7393 73.96%);
      padding: 0 20px;
      margin-left: 1.428rem;/*20px*/
      border-radius: 1.071rem;/*15px*/
    }

    .Pasific-content-a p{
        text-align: center;
        font-size: 1.142rem;/*16px*/
    }

    .Pasific-content-a a{
        color: #d9f303;
    }

    /*slider*/

    .main-slider {
        width: 37.857rem;/*530px*/
        height: 35.714rem;/*500px*/
    }
    
    .main-slider img {
        width: 100%;
    }
    