html,body {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    background:rgb(232, 237, 250);
}


/*header*/

.main-header {
    display: flex;
    justify-content: space-between;
    background: rgba(97, 49, 105, 0.1);
    height: 5.714rem; /*80px*/
    align-items: center;
    margin: 0;
    padding: 0;
    box-shadow: 0px 2px 6px rgba(122, 109, 115, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .4s;
    z-index: 1;
}

.header-placeholder {
    height: 5.714rem;/*80px*/
    background: linear-gradient(224deg, #d9e2da 31.69%, #25504e 73.96%);
}


.main-header.solid {
    background: rgb(232, 237, 250);
    color: black;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 2.142rem;/* 30px */
}

.menu li {
    margin-left: 2.142rem;/* 30px */
    position: relative;
}

.menu .begining:hover {
    border-bottom: 2px solid #5fbbec;
}

.menu li a {
    display: block;
    font-size: 1.143rem;/*16px*/
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    transition: transform .7s;
}

.menu li a:hover {
    color: rgb(0, 0, 0);
    transform: translateY(-5px);
}

.logo{
    display: block;
    background-image: url(img/LogoMakr-72JPob.png);
    width: 150px;
    height: 150px;
}

/*submenu*/

.menu li, .menu li a{
    float: left;
    
  }
  
  .menu li{  
  position: relative;
  z-index: 1;
  }
  
  .menu ul li ul a{
      padding: 10px 25px;
  }

  .menu li ul{
  position: absolute;
  margin: 0;
  padding: 0; 
  top: 100%; 
  display: none; 
  background: rgba(232, 237, 250, 0.788);
  border-radius: 0.714rem;/*10px*/
  }
  
  .menu li:hover>ul{
    display: block;
        }

/*scroll*/
.scroll{
    position: fixed;
    right: 1.071rem;/*15px*/
    bottom: 1.428rem;/*20px*/
    font-size:1.785rem;/*25*/
}

/*main*/

.container {
    margin: 0 auto;
    width: 86.726%;/* 1150px */
    margin-bottom: 7.142rem;/*100px*/
}


.introduction {
    width: 28.571rem;/*400*/
    position: absolute;
    top: 17.857rem;/*250px*/
    left: 5.714rem;/*80px*/
}

.introduction p {
    font-size: 3.571rem;/*50*/
    color: black;
    font-family: 'Marck Script', cursive;
}

.button {
    display: inline-block;
    color: black;
    background: linear-gradient(127.12deg, #b3c9e0 31.69%, #4f7393 73.96%);
    padding: 12px 40px;
    margin-top: 2.142rem;/*30px*/
    box-shadow: 0px 2px 6px rgba(122, 109, 115, 0.55);
    border-radius: 0.714rem;/*10px*/
    transition: transform .7s;
}

.button:hover {
    transform: translateY(-5px);
}


/*slider*/

.main-slider {
    margin: 0 auto;
    width: 46.428rem;/*650px*/
}

.main-slider img {
    width: 100%;
}


/*second page*/
h1{
    font-family: 'Marck Script', cursive;
    font-size: 6.428rem;/*90px*/
    color: #0f253c;
    position: absolute;
    left: 40%;
    top:6.428rem;/*90px*/
}

h2 {
    text-align: center;
    font-size: 2.857rem;/*40px*/
    margin-bottom: 5.714rem;/*80px*/
}

.content p {
    font-size: 1.428rem;/*20px*/
    text-align: justify;
}


/*trird page*/

.page-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.857rem;/*40px*/
}

.ocean-content a{
    display: inline-block;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;/*350px*/
    width: 100%;
    transition: transform .5s;
    
}

.ocean-content a:hover{
    transform:  rotate(100deg);
}

.caption{
text-align: center;
font-size: 1.785rem;/*25px*/
}

/*news*/

.news-section{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 7.142rem;/*100px*/
    margin-bottom:7.142rem;/*100px*/
}

.news{
    background: white;
    padding: 1.071rem;/*15px*/
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0.714rem;/*10px*/
    
}

.news .news-pic{
    display:block;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
    height: 32.142rem;/*450px*/
    width: 100%;
}

.news:hover{
background-size: 150%;
}

.clip iframe{
    width: 500px;
    height: 315px;
   
}

.news-clip{
    display: flex;
    justify-content: space-between;
    margin-top: 3.571rem;/*50px*/
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0.714rem;/*10px*/
    padding:3.571rem;/*50px*/
    margin-bottom: 12.857rem;/*180px*/
}


/*Footer */

footer{
   background: rgb(145, 173, 250);
   padding: 1.428rem;/*20px*/
}

.footer{
  display: flex;
  justify-content: space-between;

}

.footer-content{
display: block;
text-align: center;
font-size:2.142rem;/*30px*/
color: white;
margin-bottom: 1.428rem;/*20px*/
}

.fa {
    padding: 1.785rem;/*25px*/
    font-size: 1.428rem;/*20px*/
    width: 2.142rem;/*30px*/
    text-align: center;
    text-decoration: none;
    margin:  0.714rem;/*10px*/
    border-radius: 50%;
    margin-bottom: 5rem;/*70px*/
    transition: transform .4s;
}

.fa:hover {
    transform: translateY(-8px);
      }


.fa-facebook {
    background: #3B5998;
    color: white;
      }

.fa-twitter {
    background: #55ACEE;
    color: white;
     }

.fa-youtube{
    background: red;
    color: white;
}

.fa-google{
    background: rgb(219, 139, 119);
    color: white;
}

.fa-instagram{
    background: rgb(41, 41, 189);
    color: white;
}

.fa-skype{
    background: rgb(72, 166, 243);
    color: white;
}

.info-link{
    display:block;
    font-size: 1.071rem;/*15px*/
    color: rgb(2, 2, 58);
    margin-bottom: 1.071rem;/*15px*/
    margin-left: 1.428rem;/*20px*/
}

.new-link{
    display: block;
    margin: 8px 20px;
    color: rgb(52, 52, 122);
    
}

@media only screen and (max-width : 1300px){
    .page-section{
        grid-template-columns: repeat(2, 1fr);
    }
}
 
@media only screen and (max-width: 1200px) {
    .news-clip{
        display: block;
    }
}

@media only screen and (max-width : 860px){
    .page-section{
        grid-template-columns: repeat(1, 1fr);
    }
        h2{
            margin-top:250px;
        }
}

@media only screen and (max-width : 720px){
    .main-slider{
        width: 100%;
    }
    .news-clip{
       width: 80%;
    }

    .clip iframe{
        width: 100%;
    }

    .footer iframe{
        width: 100%;
    }
}

@media only screen and (max-width : 500px){
    .news-section{
        grid-template-columns: repeat(1,1fr);
    }
    
        h2{
            margin-top:300px;
        }
    .video-ocean{
        width:150%
    }
}

@media only screen and (max-width : 420px){
    h2{
        margin-top:400px;
    }
}

